# Copyright (c) 2022-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the NVIDIA Source Code License [see LICENSE for details].

*__pycache__/
rvt/data/train/
rvt/data/val/
rvt/data/test/
rvt/replay/
coppelia_install_dir/
rvt/runs/
runs_ngc_mnt
runs_temp
*.ipynb_checkpoints/
.vscode/
build/
dist/
*.egg-info/

